# Google Drive Ownership Transfer Config
# Comma-separated list of allowed user emails
GMOVE_ALLOWED_USERS=bino@princeton.edu,orfe-files@princeton.edu,cdreyer@princeton.edu

# Support contact email address
GMOVE_SUPPORT_CONTACT=bino@princeton.edu
